
    .subscribe-button{
      background-color:rgb(200, 0, 0) ;
      color: white;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      margin-right: 8px;
      margin-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 16px;
      padding-right :16px; ;
      transition: opacity 0.15s;
      vertical-align: top;
    }

    .subscribe-button:hover {
opacity: 0.8;
    }

    .subscribe-button:active {
    opacity: 0.5;
    }
  
    .join-button{
      background-color: white;
      border-color:rgb(41, 118, 211) ;
      border-style:solid ;
      border-width: 1px;
      color: rgb(41, 118, 211) ;
      border-radius: 2px;
      cursor: pointer;
      margin-right: 8px;
      padding-left: 30px;
      transition: background-color 1s,color 1s;
      vertical-align: top;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 16px;
      padding-right :16px; ;
    }

    .join-button:hover{
      background-color:rgb(41, 118, 211) ;
      color: white;
      transition: background-color 1s,color 1s;
    }

    .join-button:active {
      opacity:0.7;
    }
  
    .tweet-button {
      background-color: rgb(0, 123, 255);
      color: white;
      border: none;
      height: 36px;
      width: 74;
      border-radius: 20px;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      margin-right: 8px;
      transition: box-shadow 0.15s;
      vertical-align: top;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 16px;
      padding-right :16px; ;
    }

    .tweet-button:hover {
      box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    }
  
    .request-button {
      background-color: black;
      color: white;
      border: none;
      height: 30px;
      width: 130;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      margin-right: 8px;
    }
  
    .add-button {
      background-color:rgb(255, 216, 20);
      color: black;
      border: none;
      height: 27px;
      width: 130;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      border-radius: 15px;
      margin-right: 8px;
    }
  
    .sign-up-button {
      background-color:rgb(46, 164, 79);
      color: white;
      border: none;
      height: 30px;
      width: 100;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      border-radius: 8px;
      margin-right: 8px;
    }
  
    .get-started{
      background-color: rgb(121,82,179);
      border: none;
      color: white;
      height: 26px;
      width: 70px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 2px;
    }

    .download {
      background-color: white;
      border-color: rgb(121,82,179);
      border-style: solid;
      color:  rgb(121,82,179);
      height: 26px;
      width: 70px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 13px;
    }